{% extends('base.html.twig') %}

{% block body %}


	<h1>Welcome
		{{ name }}</h1>
	<img src="https://unsplash.it/960/540/" alt="" class="img-fluid">
	<div class="row">
		<div class="col">
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt quos temporibus fugiat alias deleniti perferendis impedit! Maiores, sequi. Ducimus quidem placeat quos corrupti reiciendis non earum provident vitae cum, ab quibusdam animi quisquam dolorum perferendis vel beatae, assumenda autem suscipit ratione id eius nemo! Ipsam neque, ad molestiae at eius totam dignissimos veniam! Beatae accusamus vitae blanditiis laudantium voluptatum, molestias libero fugiat, tenetur deleniti ipsa dicta enim consectetur ad sed tempora nihil praesentium, sequi quasi sint? Iure possimus rem impedit minima accusamus magnam doloribus earum, mollitia, quo illo optio ea qui aliquid tempore amet nisi similique voluptatum dolorem exercitationem libero.</p>
		</div>
		<div class="col">
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt quos temporibus fugiat alias deleniti perferendis impedit! Maiores, sequi. Ducimus quidem placeat quos corrupti reiciendis non earum provident vitae cum, ab quibusdam animi quisquam dolorum perferendis vel beatae, assumenda autem suscipit ratione id eius nemo! Ipsam neque, ad molestiae at eius totam dignissimos veniam! Beatae accusamus vitae blanditiis laudantium voluptatum, molestias libero fugiat, tenetur deleniti ipsa dicta enim consectetur ad sed tempora nihil praesentium, sequi quasi sint? Iure possimus rem impedit minima accusamus magnam doloribus earum, mollitia, quo illo optio ea qui aliquid tempore amet nisi similique voluptatum dolorem exercitationem libero.</p>
		</div>
	</div>
	<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt quos temporibus fugiat alias deleniti perferendis impedit! Maiores, sequi. Ducimus quidem placeat quos corrupti reiciendis non earum provident vitae cum, ab quibusdam animi quisquam dolorum perferendis vel beatae, assumenda autem suscipit ratione id eius nemo! Ipsam neque, ad molestiae at eius totam dignissimos veniam! Beatae accusamus vitae blanditiis laudantium voluptatum, molestias libero fugiat, tenetur deleniti ipsa dicta enim consectetur ad sed tempora nihil praesentium, sequi quasi sint? Iure possimus rem impedit minima accusamus magnam doloribus earum, mollitia, quo illo optio ea qui aliquid tempore amet nisi similique voluptatum dolorem exercitationem libero.</p>
	<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt quos temporibus fugiat alias deleniti perferendis impedit! Maiores, sequi. Ducimus quidem placeat quos corrupti reiciendis non earum provident vitae cum, ab quibusdam animi quisquam dolorum perferendis vel beatae, assumenda autem suscipit ratione id eius nemo! Ipsam neque, ad molestiae at eius totam dignissimos veniam! Beatae accusamus vitae blanditiis laudantium voluptatum, molestias libero fugiat, tenetur deleniti ipsa dicta enim consectetur ad sed tempora nihil praesentium, sequi quasi sint? Iure possimus rem impedit minima accusamus magnam doloribus earum, mollitia, quo illo optio ea qui aliquid tempore amet nisi similique voluptatum dolorem exercitationem libero.</p>
	<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt quos temporibus fugiat alias deleniti perferendis impedit! Maiores, sequi. Ducimus quidem placeat quos corrupti reiciendis non earum provident vitae cum, ab quibusdam animi quisquam dolorum perferendis vel beatae, assumenda autem suscipit ratione id eius nemo! Ipsam neque, ad molestiae at eius totam dignissimos veniam! Beatae accusamus vitae blanditiis laudantium voluptatum, molestias libero fugiat, tenetur deleniti ipsa dicta enim consectetur ad sed tempora nihil praesentium, sequi quasi sint? Iure possimus rem impedit minima accusamus magnam doloribus earum, mollitia, quo illo optio ea qui aliquid tempore amet nisi similique voluptatum dolorem exercitationem libero.</p>
	<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt quos temporibus fugiat alias deleniti perferendis impedit! Maiores, sequi. Ducimus quidem placeat quos corrupti reiciendis non earum provident vitae cum, ab quibusdam animi quisquam dolorum perferendis vel beatae, assumenda autem suscipit ratione id eius nemo! Ipsam neque, ad molestiae at eius totam dignissimos veniam! Beatae accusamus vitae blanditiis laudantium voluptatum, molestias libero fugiat, tenetur deleniti ipsa dicta enim consectetur ad sed tempora nihil praesentium, sequi quasi sint? Iure possimus rem impedit minima accusamus magnam doloribus earum, mollitia, quo illo optio ea qui aliquid tempore amet nisi similique voluptatum dolorem exercitationem libero.</p>


{% endblock %}
