{% extends('base.html.twig') %}

{% block body %}


	<h1>Inscrivez-vous</h1>
	<form action="" method="post">
		<div class="row">
			<div class="col">
				<div class="form-group mb-2">
					<label for="fname" class="input-label">Nom</label>
					<input id="fname" type="text" name="firstname" class="form-control" placeholder="Entrez votre nom"/>
				</div>
			</div>
			<div class="col">
				<div class="form-group mb-2">
					<label for="lname" class="input-label">Prenom</label>
					<input id="lname" type="text" name="lastname" class="form-control" placeholder="Entrez votre prenom"/>
				</div>
			</div>
		</div>
		<div class="form-group mb-2">
			<label for="email" class="input-label">Email</label>
			<input id="email" type="text" name="email" class="form-control" placeholder="Entrez votre addresse email"/>
		</div>
		<div class="form-group mb-2">
			<label for="password" class="input-label">Password</label>
			<input id="password" type="text" name="password" class="form-control" placeholder="Entrez votre numero de telephone"/>
		</div>
		<div class="form-group mb-2">
			<label for="passrepeat" class="input-label">Password repeat</label>
			<input id="passrepeat" type="text" name="passwordrepeat" class="form-control" placeholder="Entrez votre numero de telephone"/>
		</div>
		<input type="submit" name="submit" value="Se connecter" class="btn btn-primary"/>
	</form>

	<p>Vous avez déja compte ?
		<a class="link-primary" href="{{ path('login') }}">Connectez-vous</a>
	</p>


{% endblock %}
